#searchResults {
  border: 2px black solid;
  display:none;
  list-style: none;
  padding:10px;
  margin:15px;
}

#intro, .jumbotron {
  text-align: center;
}

#nameInput {
  margin-left: 380px;
  width: 30%;
}
